<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>HeadButton</title>
</head>
<body>
<div id="headButton" class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
    <div class="btn-group btn-group-lg" role="group" aria-label="First group">
        <form action="/posts/" method="get">
            <button type="submit" class="btn btn-secondary">Go to post page</button>
        </form>
        <form action="/posts/" method="get">
            <button type="button" class="btn btn-secondary">*My friends</button>
        </form>
        <form action="/posts/" method="get">
            <button type="button" class="btn btn-secondary">*Have a chat</button>
        </form>
        <form action="/post/" method="get">
            <button class="btn btn-secondary" type="submit">Create a new post</button>
        </form>
        <form action="/user/myPage/" method="get">
            <button class="btn btn-secondary" type="submit">Home</button>
        </form>
    </div>
</div>
</body>
</html>