<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!--this page is to show all the post-->
    <meta charset="UTF-8">
    <title>Post</title>
    <link href="/asserts/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div th:replace="~{fragment/headbutton::#headButton}">
</div>
<div class="accordion" id="accordionExample">
    <div class="card w-75" th:each="post: ${postList}">
        <div class="card-body">
            <h5 class="card-title"
                th:text="${post.user.username} + '  ' + ${#dates.format(post.time, 'yyyy-MM-dd HH:mm:ss')}">Title</h5>
            <p class="card-text" th:text="${post.content}">content</p>
        </div>
    </div>
</div>
</body>
<script src="/asserts/js/bootstrap.min.js"></script>
</html>