<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User Finder</title>
</head>
<body>
<form action="#" name="user_finder">
    <label>user ID: </label>
    <label>
        <input name="id" type="text">
    </label>
    <button class="btn btn-lg btn-primary btn-block" onclick="findById(document.user_finder.id.value)" type="submit">
        Search
    </button>
</form>
</body>

<script>
    function findById(id) {
        document.user_finder.action = "/user/" + id;
    }
</script>
</html>