<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!--this page is to show the user it self's information-->
    <meta charset="UTF-8">
    <title>My Info</title>
    <link href="/asserts/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
    <div class="btn-group btn-group-lg" role="group" aria-label="First group">
        <form action="/posts/" method="get">
            <button type="submit" class="btn btn-secondary">Go to post page</button>
        </form>
        <button type="button" class="btn btn-secondary">My friends</button>
        <button type="button" class="btn btn-secondary">Have a chat</button>
        <button type="button" class="btn btn-secondary">About</button>
    </div>
</div>
</body>
</html>